@using WebHeroes.Entities;
@using WebHeroes.Code;
@using WebHeroes.Playground;
@model Scene
@{
    var Turn = ViewBag.Turn as Turn;
    string ErrorMessage = ViewBag.ErrorMessage;
}
<head>

</head>
<style>
    .board-table {

    }

        .board-table tr {
        }

        .board-table td {
            border: 2px solid black;
            border-radius:50%;
            height: 70px;
            width: 35px;
            text-align: center;
            margin-bottom:-5px;
        }

    .half-cell {
        border:none !important;
        width: 35px !important;
    }

    .half-row td {
        border:none !important;
        height: 1px !important;
    }

    .board-table td:hover {
        border: 2px solid red;
    }

    .board-table td.selected {
        background-color: red;
    }

    .error-message p {
        color: red;
    }

    .field-grass{
        background-color:greenyellow;
    }

    .field-stone{
        background-color:gray;
    }
</style>
<table class="board-table">
    @{int y = 0; }
    <tr class="half-row">
        @for (int i = 0; i < 11*2; i++)
        {
            <td></td>
        }
    </tr>
    @foreach (var row in Model.Board.Fields)
    {
        int x = y % 2;
        <tr>
            @if (y % 2 == 1)
            {
                <td class="half-cell"></td>
            }
            @foreach (var field in row)
            {
                if (field != null)
                {
                    var entity = Model.Board.BaseEntities.FindByPosition(new Position(x, y));
                    <td colspan="2" class="boardCell field-@field.Type.ToString().ToLower()" data-id="@(entity!=null?entity.Id:0)" data-x="@x" data-y="@y">
                        <div class="hexagon"></div>
                        [@x @y] @field.Weight
                        @if (entity != null)
                        {
                            <br>
                            @entity.Type
                        }
                    </td>
                    x += 2;
                }
            }
            @if (y % 2 == 0)
            {
                <td class="half-cell"></td>
            }
        </tr>
        y++;
    }
</table>
@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="error-message">
        <p>@ErrorMessage</p>
    </div>
}
<table class="turn-table">
    <tr>
        <td>
            Action Points : @Turn.ActionPoints / @Turn.MaxActionPoints
        </td>
    </tr>
</table>
<script>
    $(document).ready(function () {
        $('.boardCell').click(function (e) {
            $('.boardCell.selected').removeClass("selected");
            $(this).addClass("selected");
            $('#boardArea').load('@Url.Action("ClickCell", "Game")?x=' + $(this).data("x") + '&y=' + $(this).data("y"))
            e.stopPropagation();
        });
    });
</script>